{
    "persistent_storage_root": "./store",
    "source_dir": "some_telegram_export_dir/chats/chat_1/messages.html",
    "domain": "person/entity_main/chat/telegram/entity_recipient_name",
    "to_scope": "personal/social",
    "from_instance": "something/telegram_importer",
    "data_type": "social/chat",
    "location": {
        "alias": "home",
        "latitude": "33.3333",
        "longitude": "22.22222"
    },
    "auth_hash": "",
    "from_uuid4": "bb92aaaa-41aa-4222-a666-c6b12fffffff"
}

