# Indrajala preliminary example service

[Unit]
Description=Indrajala service
After=network.target
After=network-online.target

[Service]
Type=simple
# Adapt path!
WorkingDirectory=<some-path>/indrajala/python_indrajala/examples
# Adapt paths!
ExecStart=/usr/bin/python <some-path>/indrajala/python_indrajala/src/indrajala/indrajala.py -c <some-path>/indrajala/python_indrajala/examples/config -l <some-path>/indrajala/python_indrajala/examples/log

[Install]
WantedBy=multi-user.target
