{
    "persistent_storage_root": "./store",
    "source_dir": "some_directory/rawdata/Apple-Health-export",
    "domain": "person/someone/health/apple/{data_type}",
    "to_scope": "personal",
    "from_instance": "apple/health/export",
    "data_type": "sensor_data",
    "location": {
        "alias": "home",
        "latitude": "44.4444",
        "longitude": "8.8888"
    },
    "auth_hash": "",
    "from_uuid4": "eb488888-d444-4333-8888-768720577777"
}
