# Indrajala preliminary example service

[Unit]
Description=Indrajala service
After=network.target
After=network-online.target

[Service]
Type=simple
# Adapt path!
WorkingDirectory=<some-path>/indrajala
# Adapt paths!
ExecStart=/usr/bin/python <some-path>/indrajala/indrajala.py -c <some-path>/config

[Install]
WantedBy=multi-user.target
