[Unit]
Description=Indrajala Event Server
After=network.target mosquitto.service

[Service]
User=indrajala
ExecStart=<insert_the_path_to_the_release_binary_here>/indrajala <insert_path_to_config_here>/indrajala/indrajala.toml
Restart=always

[Install]
WantedBy=multi-user.target
