{
    "persistent_storage_root": "./store",
    "import_path": "<some-path-to-telegram-export-dir>/chats/",
    "default_record": {
        "domain": "person/some-name-here/chat/telegram/{chat_id}",
        "to_scope": "personal/social",
        "from_instance": "telegram_importer",
        "data_type": "social/chat",
        "location": {
            "alias": "home",
            "latitude": "4.444444",
            "longitude": "1.111111"
        },
        "auth_hash": "",
    }
}
