{
    "persistent_storage_root": "./store",
    "import_path": "<some-path-to-directory-with-apple-health-export-file-Export.xml>"
    "default_record": {
        "domain": "person/some-person-name-here/health/apple/{data_type}",
        "to_scope": "personal",
        "from_instance": "apple/health/export/{from_instance}",
        "data_type": "sensor_data/{data_type}",
        "location": {
            "alias": "home",
            "latitude": "4.44444",
            "longitude": "1.1111"
        },
        "auth_hash": "",
    }
}

